apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  labels:
    app: user-service
spec:
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      serviceAccountName: user-service-sa
      containers:
      - name: user-service
        image: user-service
        imagePullPolicy: Never
        ports:
        - containerPort: 5051
        env:
        - name: DB_HOST
          value: monitoring-stack-postgresql
        - name: DB_NAME
          value: user_service_db
        - name: DB_USER
          value: user
        - name: DB_PASSWORD
          value: password
        - name: DB_PORT
          value: "5432"
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
spec:
  selector:
    app: user-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5051
  type: ClusterIP
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: user-service-sa
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: user-service-role
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get"]
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["clusterrolebindings"]
  verbs: ["list"]
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["rolebindings"]
  verbs: ["list"]
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["clusterroles"]
  verbs: ["list", "get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: user-service-binding
subjects:
- kind: ServiceAccount
  name: user-service-sa
  namespace: default
roleRef:
  kind: ClusterRole
  name: user-service-role
  apiGroup: rbac.authorization.k8s.io
