Host *
    User nixos
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    LogLevel ERROR
    IdentityFile "~/ghq/github.com/k-wa-wa/nuage-cluster/.ssh/id_ed25519_nixos"

Host dev-server 192.168.5.199
    HostName 192.168.5.199
    IdentityFile "~/ghq/github.com/k-wa-wa/nuage-cluster/.ssh/keys/dev-server"

Host lb-1 192.168.5.201
    HostName 192.168.5.201

Host lb-2 192.168.5.202
    HostName 192.168.5.202

Host lb-3 192.168.5.203
    HostName 192.168.5.203

Host chaos-monitor 192.168.5.250
    HostName 192.168.5.250

Host egress-gateway 192.168.5.220
    HostName 192.168.5.220

Host lm-server 192.168.5.222
    HostName 192.168.5.222

Host bluray-extractor 192.168.5.240
    HostName 192.168.5.240

Host autopilot-server 10.20.1.51
    HostName 10.20.1.51
    ProxyJump chaos-monitor

Host pg-cluster-1 10.20.1.41
    HostName 10.20.1.41
    ProxyJump chaos-monitor

Host pg-cluster-2 10.20.1.42
    HostName 10.20.1.42
    ProxyJump chaos-monitor

Host pg-cluster-3 10.20.1.43
    HostName 10.20.1.43
    ProxyJump chaos-monitor

Host minio-cluster-1 10.20.1.71
    HostName 10.20.1.71
    ProxyJump chaos-monitor

Host minio-cluster-2 10.20.1.72
    HostName 10.20.1.72
    ProxyJump chaos-monitor
