Host *
    User nixos
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    LogLevel ERROR

Host dev-server 192.168.5.199
    HostName 192.168.5.199
    IdentityFile ~/ghq/github.com/k-wa-wa/nuage-cluster/.ssh/keys/dev-server

Host lb-1 192.168.5.201
    HostName 192.168.5.201
    IdentityFile ~/ghq/github.com/k-wa-wa/nuage-cluster/.ssh/id_ed25519_nixos

Host lb-2 192.168.5.202
    HostName 192.168.5.202
    IdentityFile ~/ghq/github.com/k-wa-wa/nuage-cluster/.ssh/id_ed25519_nixos

Host lb-3 192.168.5.203
    HostName 192.168.5.203
    IdentityFile ~/ghq/github.com/k-wa-wa/nuage-cluster/.ssh/id_ed25519_nixos

Host chaos-monitor 192.168.5.250
    HostName 192.168.5.250
    IdentityFile ~/ghq/github.com/k-wa-wa/nuage-cluster/.ssh/id_ed25519_nixos

Host egress-gateway 192.168.5.220
    HostName 192.168.5.220
    IdentityFile ~/ghq/github.com/k-wa-wa/nuage-cluster/.ssh/id_ed25519_nixos

Host bluray-extractor 192.168.5.240
    HostName 192.168.5.240
    IdentityFile ~/ghq/github.com/k-wa-wa/nuage-cluster/.ssh/id_ed25519_nixos

Host pg-cluster-1 10.20.1.41
    HostName 10.20.1.41
    IdentityFile ~/ghq/github.com/k-wa-wa/nuage-cluster/.ssh/id_ed25519_nixos
    ProxyJump chaos-monitor

Host pg-cluster-2 10.20.1.42
    HostName 10.20.1.42
    IdentityFile ~/ghq/github.com/k-wa-wa/nuage-cluster/.ssh/id_ed25519_nixos
    ProxyJump chaos-monitor

Host pg-cluster-3 10.20.1.43
    HostName 10.20.1.43
    IdentityFile ~/ghq/github.com/k-wa-wa/nuage-cluster/.ssh/id_ed25519_nixos
    ProxyJump chaos-monitor

Host minio-cluster-1 10.20.1.71
    HostName 10.20.1.71
    IdentityFile ~/ghq/github.com/k-wa-wa/nuage-cluster/.ssh/id_ed25519_nixos
    ProxyJump chaos-monitor

Host minio-cluster-2 10.20.1.72
    HostName 10.20.1.72
    IdentityFile ~/ghq/github.com/k-wa-wa/nuage-cluster/.ssh/id_ed25519_nixos
    ProxyJump chaos-monitor
