- name: Clone nix-config repository
  ansible.builtin.git:
    repo: "https://github.com/k-wa-wa/nix-config.git"
    dest: "{{ devops_user_home }}/nix-config"
    version: master
    update: true
  register: git_clone
  become: true
  become_user: "{{ devops_user }}"

- name: Ensure Nix configuration directory exists
  ansible.builtin.file:
    path: "{{ devops_user_home }}/.config/nix"
    state: directory
    mode: '0755'
  become: true
  become_user: "{{ devops_user }}"

- name: Enable Flakes and Nix-command (Optional but recommended)
  ansible.builtin.copy:
    dest: "{{ devops_user_home }}/.config/nix/nix.conf"
    content: |
      experimental-features = nix-command flakes
    mode: '0644'
    owner: "{{ devops_user }}"
    group: "{{ devops_user }}"

- name: Run home-manager switch as target user
  ansible.builtin.shell:
    cmd: |
      set -euo pipefail
      # マルチユーザーインストールの場合は、プロファイルをロードする必要がある
      . /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh

      # home-manager switchの実行
      nix run home-manager -- switch --flake .#{{ home_manager_profile }}
    chdir: "{{ devops_user_home }}/nix-config"
    executable: /bin/bash
  register: hm_switch
  changed_when: "'No change' not in hm_switch.stdout"
  # 初回インストール時、またはリポジトリ更新時に実行
  # when: nix_install_result.changed or git_clone.changed
  become: true
  become_user: "{{ devops_user }}"

- name: Deploy SSH public key to authorized_keys
  ansible.builtin.authorized_key:
    user: "{{ devops_user }}"
    state: present
    key: "{{ lookup('file', '../.ssh/id_ed25519.pub') }}"
    exclusive: true
  become: true
  become_user: "{{ devops_user }}"

###
- name: Ensure /etc/nix directory exists
  ansible.builtin.file:
    path: /etc/nix
    state: directory
    mode: '0755'

- name: Configure nix.conf for trusted users and features
  ansible.builtin.copy:
    dest: /etc/nix/nix.conf
    content: |
      trusted-users = root ubuntu

      system-features = kvm benchmark big-parallel nixos-test

      experimental-features = nix-command flakes
    mode: '0644'
  notify: Restart Nix daemon

- name: Restart Nix daemon to apply changes
  ansible.builtin.systemd:
    name: nix-daemon
    state: restarted
    enabled: true

- name: Ensure ubuntu user can use nix-daemon via SSH
  ansible.builtin.lineinfile:
    path: /home/ubuntu/.bashrc
    line: 'if [ -e /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh ]; then . /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh; fi'
    state: present
###

###
- name: Ensure Working Directory
  ansible.builtin.file:
    path: "{{ devops_user_home }}/workspace"
    state: directory
    mode: '0755'
  become: true
  become_user: "{{ devops_user }}"

- name: Clone repos
  ansible.builtin.git:
    repo: "https://github.com/k-wa-wa/{{ item }}.git"
    dest: "{{ devops_user_home }}/workspace/{{ item }}"
    version: master
    update: true
  become: true
  become_user: "{{ devops_user }}"
  loop:
    - nuage-cluster
    - nash

###
- name: Copy admin.conf to workspace
  ansible.builtin.copy:
    src: ./admin.conf
    dest: "{{ devops_user_home }}/workspace/nuage-cluster/playbooks/admin.conf"
    owner: "{{ devops_user }}"
    group: "{{ devops_user }}"
    mode: '0600'
- name: Copy admin.conf to ~/.kube/config
  ansible.builtin.copy:
    src: ./admin.conf
    dest: "{{ devops_user_home }}/.kube/config"
    owner: "{{ devops_user }}"
    group: "{{ devops_user }}"
    mode: '0600'
