[Unit]
Description=Promtail
After=network.target

[Service]
ExecStart=promtail -config.file=/etc/promtail/config.yaml
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
