[Unit]
Description={{ app_name }} - Go Web Server
After=network.target

[Service]
User=root
Group=root

WorkingDirectory={{ remote_deploy_dir }}

ExecStart={{ remote_deploy_dir }}/{{ app_name }}

Restart=on-failure

[Install]
WantedBy=multi-user.target
