- name: Restart etcd
  ansible.builtin.systemd:
    name: etcd
    state: restarted

- name: Restart patroni
  ansible.builtin.systemd:
    name: patroni
    state: restarted

- name: Restart keepalived
  ansible.builtin.systemd:
    name: keepalived
    state: restarted
