## 動作確認

`npm run mock:graphql`, `npm run web` で開発用サーバーを実行済みです。必要に応じて localhost:8081 にアクセスして動作確認してください。

また、`npx tsc --noEmit` でエラーが出ないこと、`npx expo export --platform web` でビルドが成功することを確認してください。
ユーザーにて実行済みのコマンドである`npm run mock:graphql`, `npm run web`は実行しないでください。
