defaults
    mode    tcp

frontend k8s-nodeport-in
    bind *:80
    bind *:443
    use_backend k8s-http if { dst_port 80 }
    use_backend k8s-https if { dst_port 443 }

backend k8s-http
    balance roundrobin
    server node01 10.20.1.16:30080 check
    server node02 10.20.1.17:30080 check
    server node03 10.20.1.18:30080 check

backend k8s-https
    balance roundrobin
    server node01 10.20.1.16:30443 check
    server node02 10.20.1.17:30443 check
    server node03 10.20.1.18:30443 check
