# terraform/pve/hosts-secrets/main.tf に定義されていた minio-cluster 向け SOPS 鍵配布モジュール

module "minio-cluster-1" {
  source              = "./modules/secrets"
  host                = "192.168.5.21"
  target_host         = "minio-cluster-1"
  sops_key            = data.sops_file.secrets.data["lb_sops_key"]
  github_access_token = data.sops_file.secrets.data["github_access_token"]
}
module "minio-cluster-2" {
  source              = "./modules/secrets"
  host                = "192.168.5.22"
  target_host         = "minio-cluster-2"
  sops_key            = data.sops_file.secrets.data["lb_sops_key"]
  github_access_token = data.sops_file.secrets.data["github_access_token"]
}
