defaults
    mode    tcp
    option  tcpka
    timeout connect 10s
    timeout client  24h
    timeout server  24h

# ==========================================================
# NFS Proxy (2049)
# ==========================================================
frontend nfs-in
    bind *:2049
    default_backend nfs-out

backend nfs-out
    server nfs-server-1  192.168.5.151:2049 source 0.0.0.0:1000 check inter 10s fall 3 rise 2
    server nfs-server-2  192.168.5.151:2049 source 0.0.0.0:1001 check inter 10s fall 3 rise 2
    server nfs-server-3  192.168.5.151:2049 source 0.0.0.0:1002 check inter 10s fall 3 rise 2
    server nfs-server-4  192.168.5.151:2049 source 0.0.0.0:1003 check inter 10s fall 3 rise 2
    server nfs-server-5  192.168.5.151:2049 source 0.0.0.0:1004 check inter 10s fall 3 rise 2
    server nfs-server-6  192.168.5.151:2049 source 0.0.0.0:1005 check inter 10s fall 3 rise 2
    server nfs-server-7  192.168.5.151:2049 source 0.0.0.0:1006 check inter 10s fall 3 rise 2
    server nfs-server-8  192.168.5.151:2049 source 0.0.0.0:1007 check inter 10s fall 3 rise 2
    server nfs-server-9  192.168.5.151:2049 source 0.0.0.0:1008 check inter 10s fall 3 rise 2
    server nfs-server-10 192.168.5.151:2049 source 0.0.0.0:1009 check inter 10s fall 3 rise 2
