defaults
    mode    tcp
    option  tcpka
    timeout connect 10s
    timeout client  24h
    timeout server  24h

# ==========================================================
# NFS Proxy (2049)
# ==========================================================
frontend nfs-in
    bind *:2049
    default_backend nfs-out

backend nfs-out
    server nfs-server-target 192.168.5.151:2049 check inter 10s fall 3 rise 2
