apiVersion: argoproj.io/v1alpha1
kind: CronWorkflow
metadata:
  name: etl-bluray
spec:
  schedule: "* * * * *"
  concurrencyPolicy: Forbid
  workflowSpec:
    entrypoint: main
    templates:
      - name: main
        dag:
          tasks:
            - name: extract-mkv
              templateRef:
                name: extract-mkv
                template: main

            - name: transform-mkv
              dependencies: [extract-mkv]
              templateRef:
                name: transform-mkv
                template: main
              arguments:
                parameters:
                  - name: mkv-path
                    value: "{{item.mkv-path}}"
                  - name: label
                    value: "{{item.label}}"
              withParam: "{{tasks.extract-mkv.outputs.parameters.mkv-files-json}}"
              when: "'{{tasks.extract-mkv.outputs.parameters.bluray-label}}' != ''"

            - name: load-hls
              dependencies: [transform-mkv]
              templateRef:
                name: load-hls
                template: main
              when: "'{{tasks.extract-mkv.outputs.parameters.bluray-label}}' != ''"

    volumes:
      - name: mnt-bluray
        persistentVolumeClaim:
          claimName: nfs-bluray-pvc
      - name: mnt-hls
        persistentVolumeClaim:
          claimName: nfs-hls-pvc
      - name: script-volume
        configMap:
          name: script-config-extract-mkv
