apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: load-hls
spec:
  templates:
    - name: main
      dag:
        tasks:
          - name: load-hls-data
            template: load-hls-data
          - name: refresh-latest-playlist
            template: refresh-latest-playlist
            dependencies: [load-hls-data]

    - name: load-hls-data
      metadata:
        annotations:
          sidecar.istio.io/inject: "false" # TODO: side car 対応方法検討
      container:
        image: ghcr.io/k-wa-wa/pechka-file-server-data-importer
        volumeMounts:
          - name: mnt-hls
            mountPath: /mnt/hls
        env:
          - name: HLS_RESOURCE_DIR
            value: /mnt/hls
          - name: DB_HOST
            value: primary.pg-cluster.svc.cluster.local
          - name: DB_PORT
            value: "5432"
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: postgres-credentials
                key: user
                optional: false
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-credentials
                key: password
                optional: false
          - name: DB_NAME
            value: pechka
          - name: SSL_MODE
            value: disable

    - name: refresh-latest-playlist
      metadata:
        annotations:
          sidecar.istio.io/inject: "false" # TODO: side car 対応方法検討
      container:
        image: ghcr.io/k-wa-wa/pechka-file-server-refresh-latest-playlist
        env:
          - name: DB_HOST
            value: primary.pg-cluster.svc.cluster.local
          - name: DB_PORT
            value: "5432"
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: postgres-credentials
                key: user
                optional: false
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-credentials
                key: password
                optional: false
          - name: DB_NAME
            value: pechka
          - name: SSL_MODE
            value: disable

  volumes:
    - name: mnt-hls
      persistentVolumeClaim:
        claimName: nfs-hls-readonly-pvc
