# SOPS で暗号化して nix/hosts/minio-cluster/secrets.yaml に配置していたシークレット項目のサンプル
minio_root_user: "<admin-username>"
minio_root_password: "<admin-password>"
keepalived_auth_pass: "<keepalived-vrrp-auth-password>"
