defaults
    mode    tcp
    option  tcpka
    timeout connect 10s
    timeout client  24h
    timeout server  24h


# ==========================================================
# Ollama Proxy (11434)
# ==========================================================
frontend ollama-in
    bind *:11434
    default_backend ollama-out

backend ollama-out
    server lm-server 192.168.5.222:11434 check inter 10s fall 3 rise 2

frontend stats
    mode http
    bind *:8404
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /
    stats refresh 5s

