defaults
    mode    tcp
    option  tcpka
    timeout connect 10s
    timeout client  24h
    timeout server  24h

# ==========================================================
# NFS Proxy (2049)
# ==========================================================
frontend nfs-in
    bind *:2049
    default_backend nfs-out

backend nfs-out
    server nfs-server-1  192.168.5.151:2049 source 192.168.5.220:1000 check inter 10s fall 3 rise 2
    server nfs-server-2  192.168.5.151:2049 source 192.168.5.220:1001 check inter 10s fall 3 rise 2
    server nfs-server-3  192.168.5.151:2049 source 192.168.5.220:1002 check inter 10s fall 3 rise 2
    server nfs-server-4  192.168.5.151:2049 source 192.168.5.220:1003 check inter 10s fall 3 rise 2
    server nfs-server-5  192.168.5.151:2049 source 192.168.5.220:1004 check inter 10s fall 3 rise 2
    server nfs-server-6  192.168.5.151:2049 source 192.168.5.220:1005 check inter 10s fall 3 rise 2
    server nfs-server-7  192.168.5.151:2049 source 192.168.5.220:1006 check inter 10s fall 3 rise 2
    server nfs-server-8  192.168.5.151:2049 source 192.168.5.220:1007 check inter 10s fall 3 rise 2
    server nfs-server-9  192.168.5.151:2049 source 192.168.5.220:1008 check inter 10s fall 3 rise 2
    server nfs-server-10 192.168.5.151:2049 source 192.168.5.220:1009 check inter 10s fall 3 rise 2

# ==========================================================
# Ollama Proxy (11434)
# ==========================================================
frontend ollama-in
    bind *:11434
    default_backend ollama-out

backend ollama-out
    server lm-server 192.168.5.222:11434 check inter 10s fall 3 rise 2

frontend stats
    mode http
    bind *:8404
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /
    stats refresh 5s

